In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [5]:
import pandas as pd
import numpy as np

In [7]:
# Creating random data for the DataFrame
data = {
    'NumericColumn': np.random.randint(1, 100, size=10),  # 10 random integers between 1 and 100
    'TextColumn': ['Text' + str(i) for i in range(1, 11)]  # 10 text entries
}

In [9]:
# Creating the DataFrame
df = pd.DataFrame(data)

In [11]:
# Displaying the DataFrame
print(df)

   NumericColumn TextColumn
0             53      Text1
1             87      Text2
2             57      Text3
3             49      Text4
4             59      Text5
5              9      Text6
6             25      Text7
7              3      Text8
8             97      Text9
9             80     Text10

In [13]:
# Adding a new column that is the square of the NumericColumn
df['SquaredColumn'] = df['NumericColumn'].apply(lambda x: x ** 2)

In [15]:
# Displaying the updated DataFrame
print(df)

   NumericColumn TextColumn  SquaredColumn
0             53      Text1           2809
1             87      Text2           7569
2             57      Text3           3249
3             49      Text4           2401
4             59      Text5           3481
5              9      Text6             81
6             25      Text7            625
7              3      Text8              9
8             97      Text9           9409
9             80     Text10           6400

In [17]:
# Adding a flag column based on a condition in the TextColumn
# Example condition: If the text ends with '5', mark it as 'Special', else 'Normal'
df['FlagColumn'] = df['TextColumn'].apply(lambda x: 'Special' if x.endswith('5') else 'Normal')

In [19]:
# Displaying the updated DataFrame
print(df)

   NumericColumn TextColumn  SquaredColumn FlagColumn
0             53      Text1           2809     Normal
1             87      Text2           7569     Normal
2             57      Text3           3249     Normal
3             49      Text4           2401     Normal
4             59      Text5           3481    Special
5              9      Text6             81     Normal
6             25      Text7            625     Normal
7              3      Text8              9     Normal
8             97      Text9           9409     Normal
9             80     Text10           6400     Normal